body {
  margin: auto;
  background-color: white; /* color de cuerpo/fondo */
  color: black; /* color de fuente */
  font-family: helvetica;
  width: 100%;
}

h1 {
  margin: auto;
  
}

.sector1 {
  margin: auto;
  margin-top: 3%;
  width: 80%;

  
}

h2 {
  margin: auto;
  text-align: center;
  margin-bottom: 2%;
}

.tableOne {
  margin: auto;
  border: 1px solid #333;
  border-spacing: 0;

}

th, td {
  margin: auto;
  border: 1px solid #333;
  border-spacing: 0;
  padding: 10px;
  /* text-align: center; */
}